body {
  background: url("../img/hojas.jpg");
  background-attachment: fixed; /* para que ocupe todo*/
}

#logo {
  background: rgb(104, 23, 151);
}
#menu ul li:hover {
  background: rgb(104, 23, 151);
}
.button-more {
  background: rgb(104, 23, 151);
}
